/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
}

button {
    margin-left: 15px !important;
}

.btn-save {
    background-color: #4caf50;
    color: #FFF;
}

.sub-category {
    margin-bottom: 15px;
}

.content {
    margin: 30px;
}

.new-category {
    background-color: #FFF !important;
    width: 388px !important;
    border-radius: 5px;
    padding: 0 15px;
}

.mat-raised-button, .mat-stroked-button, input, label, .title {
    letter-spacing: 1px !important;
}

.item {
    background: rgba(255, 255, 255, .5);
    padding: 15px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.item-name {
    padding: 10px;
    background: #efefef;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #999;
}

.category-management {
    height: 100vh;
    background: linear-gradient(to bottom right, #0066ff 0%, #ff0066 100%);
    overflow-y: auto;
    padding: 15px !important;
    display: block;
}

.item:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.item:before {
    filter: blur(10px);
}

.col {
    padding: 0px !important;
}